.about-block{
    background-color: #DDDBFF;
}


#pokeball-div-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.quatre-vingt{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vingt{
    width: 30%;
    display: flex;
    justify-content: center;
}

#moi-dresseur{
    height: 600px;
}

.about-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#container-pp-about
{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    padding-right: 10px;
}

.cent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.separateur-plat{
    border: 1px solid #2e2c2c;
    width: 95%;
}

.labelReseaux{
    margin:0 10px;
    border-radius: 8px;
}

.block-gauche{
    width: 100%;

}

.container-tiles-reseaux{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.img-reseau{
    width: 100px;
    height: 100px;
}

.tile-reseau{
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 45px;
}

.tile-reseau-lien{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.list-etudes{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    margin: 0 0 0 50px;
}

#about-sep-plat{
    display: none;
}

.container-tile-technos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tile-techno{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: nowrap;
    border: 1px solid #2e2c2c;
    border-radius: 20px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
    filter: invert(90%) sepia(47%) saturate(2944%) hue-rotate(216deg) brightness(100%) contrast(95%);
    background-color: #fff;
    transition: all 0.5s ease;
}

.tile-techno:hover{
    scale: 1.08;
    filter: invert(100%) sepia(16%) saturate(7220%) hue-rotate(173deg) brightness(105%) contrast(103%);
}

.tile-techno > .logo-techno{
    width: 30px;
    aspect-ratio: 1;
    border-radius: 8px;
}

.titre-comp{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 0 0 0 30px;
}

#technos-container{
    margin: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px black solid;
}

.container-radio{
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-radio .labelReseaux input {
    display: none;
}

.container-radio .labelReseaux .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 10px;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
    margin: 5px;
    border-bottom: 1px solid black;
    transition: all 0.5s ease;
}

.container-radio .labelReseaux .name:hover {
    background-color: #fff;
    color: #000;
    scale: 1.10;
}   

.container-radio .labelReseaux input:checked+.name {
    background-color: #fff;
    font-weight: 600;
}


@media screen and (max-width: 1080px) {
    #container-pp-about{
        width: 150px;
        height: 150px;
        border-radius: 30px;
        padding-right: 5px;
    }

    .block-info {
        margin: 15px;
        padding: 10px;
    }

    .text-about{
        height: 100%;
        display: flex;
        align-items: center;
    }
    
}

@media screen and (max-width: 800px) {
    .vingt{
        display: none;
    }

    .quatre-vingt{
        width: 100%;
    }


    
}



@media screen and (max-width: 600px) {
    .about-block{
        flex-direction: column;
    }

    #about-sep{
        display: none;
    }

    #about-sep-plat{
        display: block;
    }
}