#accueil{
    padding: 5px 0 0 0;
    margin: 20px 0 0 0;
    background-color: #dac0fc;
}

.acceuil-block{
    /*background-color: #d15;*/
    margin: 5px 0 5px 5px ;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.un-tier{
    width: 33%;
    text-align: center;
}
.deux-tier{
    width: 66%;
}
.separateur-vertical{
    border: 1px solid #2e2c2c;

    display: flex;
    height: 195px;
    justify-content: center;
    align-items: center;
}

#container-pp{
    width: 175px;
    height: 175px;
    border-radius: 50%;

}

#container-texte{
    text-align: center;
    padding: 0 10px;
}

#pokeball-div-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;


    background-color: #d15;
}

.pokeball-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
