#accueil{
    padding: 5px 0 0 0;
    margin: 20px 0 0 0;
    background-color: #f8e4f7;
}

.acceuil-block{
    background-color: #dac0fc;
    margin: 30px ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 20px;
    border: 1px black solid;
}



.intro{
    display: flex;
    height: 200px;
    justify-content: center;
    flex-direction: column;
}

.un-tier{
    width: 33%;
    text-align: center;
    align-items: center;
}
.deux-tier{
    width: 66%;
}
.separateur-vertical{
    border: 1px solid #2e2c2c;

    display: flex;
    justify-content: center;
    align-items: center;
}

#acceuil-sep{
    height: 195px;
}

#about-sep{
    height: 175px;
    margin: 0 15px;
}

#container-pp{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    padding-right: 10px;
}

#container-texte{
    text-align: center;
    padding: 0 10px;
}

#container-intro{
    margin-bottom: 20px;
}

#pokeball-div-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.quatre-vingt{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;

}

.vingt{
    width: 30%;
}

#about-container{
    display: flex;
    flex-direction: row-reverse;
}

#dresseur{
    width: 200px;
    border-radius: 25px;
}

/*container-texte*/
@media screen and (max-width: 850px) {
    #container-texte{
        font-size: 16px;
    }
    
}



@media screen and (max-width: 700px) {

    .intro{
        font-size: 16px;
    }

    #pokeball-div-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    

    #bonus{
        display: none;
    }

    #container-pp {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        padding-right: 10px;
  }
}

  @media screen and (max-width: 550px) {

    #container-texte{
        font-size: 12px;
    }

    #pokeball-div-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    

    #bonus{
        display: none;
    }

    #container-pp {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        padding-right: 10px;
  }
}