.pokeball-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}


#pokeball{
    width: 320px;
    height: 225px;
    margin: 0 10px;
}

#pokeball-texte{
    display: block;
}

@media screen and (max-width: 1080px) {
    .pokeball-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }


    #pokeball{
        width: 250px;
        height: 176px;
    }
    
  }


 .texteGauche{
    width: 100%;
    text-align: left;
 }
