.pokeball-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}


#pokeball{
    width: 320px;
    height: 225px;
    margin: 0 10px;
}

#pokeball-texte{
    display: block;
}

#pokeball-sep-plat{
    display: none;
}

@media screen and (max-width: 1080px) {
    .pokeball-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }


    #pokeball{
        width: 250px;
        height: 176px;
    }
    
  }

  @media screen and (max-width:600px) {

    #pokeball-div-container{
        flex-direction: column;
    }

    #pokeball-sep-plat {
            display: block;
        }
  }


 .texteGauche{
    width: 100%;
    text-align: left;
 }

